.placeWithFilter{
    margin-bottom: 30px;
    margin-top: 20px;
    .travelPlace{
        float: left;
        span.travelFrom{
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 40px;
            display: inline-block;
            text-transform: uppercase;
        }
        i{
            font-weight: 700;
            @include paddingController(0px, 5px, 0px, 5px);
            color: $color-grey;
            line-height: 40px;
        }
        span.travelTo{
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 40px;
            display: inline-block;
            text-transform: uppercase;
        }
    }

    .filterWithSort{
        text-align: right;
        .sortDuration{
            margin-left: 10px;
            border: 1px solid $color-dark-grey;
            background:  $color-white;
            color: $color-dark-grey;
            display: inline-flex;
            justify-content: center;
            margin-bottom: 0;
            position: relative;
            padding-right: 20px;
            i:before{
                position: absolute;
                right: 5px;
                top: 12px;
            }
            i.fa-sort-desc:before{
                top: 6px !important;
            }
        }
    }
}


